<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{title}}</h4>
      </div>
      <div class="card-body">
        <app-show-errors [errorsHttp]="errors"></app-show-errors>
        <form action="" [formGroup]="form">
            <div class="form-group">
              <app-custom-input [parentForm]="form"
                                controlName="name"
                                labelText="Nombre"
              ></app-custom-input>
            </div>

          <div class="form-group mt-2">
            <label for="">Modalidad</label>
            <select class="form-control mt-1"
                    [ngClass]="{'is-invalid': (form.controls['course_type_id'].invalid  && form.controls['course_type_id'].touched)    }"
                    formControlName="course_type_id">
              <option value="">Seleccione una categoría</option>
              <option *ngFor="let category of types" [value]="category.id">{{category.name}}</option>
            </select>
            @if (form.controls['course_type_id'].invalid && form.controls['course_type_id'].touched) {
                <div class="invalid-feedback">
                  @if (form.controls['course_type_id'].errors?.['required']) {
                <span>El campo es requerido</span>
                }
                </div>
              }
            </div>

          <div class="form-group mt-2">
            <app-custom-input [parentForm]="form"
                              type="date"
                              controlName="start_date"
                              labelText="Fecha de inicio"
            ></app-custom-input>
          </div>

          <div class="form-group mt-2">
            <app-custom-input [parentForm]="form"
                              type="date"
                              controlName="end_date"
                              labelText="Fecha de fin"
            ></app-custom-input>
          </div>

          <div class="form-group mt-3">
            <button
              [disabled]="form.invalid"
              (click)="saveCourse()"
              class="btn btn-primary w-100">Guardar</button>
          </div>

          </form>
        </div>

      </div>
    </div>
  </div>
