<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Start date</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (course of courses; track course.id) {
            <tr>
              <td>{{ course.name }}</td>
              <td>{{ course.start_date  | date : 'dd/MM/yyyy' }}</td>
              <td>{{ course.type.name }}</td>
              <td>
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                  <button
                    type="button"
                    class="btn btn-outline-primary me-2"
                    id="dropdownManual"
                    ngbDropdownAnchor
                    (focus)="myDrop.open()"
                  >
                    <ng-icon name="ionMenuOutline"></ng-icon>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
