<div class="row">
  <div class=" col-sm-12 col-md-6">
    <div class="card mt-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <img class="img-card-total" src="./assets/images/libro.png" alt="">
          <div class="w-100 text-card-total">{{ totales?.total_courses ?? 0 }} <span>cursos en total</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-sm-12 col-md-6">
    <div class="card mt-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <img class="img-card-total" src="./assets/images/graduado.png" alt="">
          <div class="w-100 text-card-total">{{ totales?.total_students ?? 0 }} <span>estudiantes en total</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">

  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <app-chart-top-courses></app-chart-top-courses>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <app-chart-top-students></app-chart-top-students>
      </div>
    </div>
  </div>
</div>
